VITE_GOOGLE_CLIENT_ID=
VITE_AUTH_SERVICE_URL=http://localhost:8081
VITE_INVENTORY_SERVICE_URL=http://localhost:8082
VITE_ORDER_SERVICE_URL=http://localhost:8083
VITE_WAREHOUSE_SERVICE_URL=http://localhost:8084

