SPRING_DATASOURCE_URL=jdbc:postgresql://<host>/<db>?sslmode=require
SPRING_DATASOURCE_USERNAME=<user>
SPRING_DATASOURCE_PASSWORD=<password>
INVENTORY_SERVICE_URL=http://inventory-service:8082
SERVER_PORT=9084

