JWT_SECRET={{ vault_jwt_secret }}
INTERNAL_SERVICE_TOKEN={{ vault_internal_service_token }}
GOOGLE_CLIENT_ID={{ vault_google_client_id }}
VITE_GOOGLE_CLIENT_ID={{ vault_google_client_id }}
VITE_API_GATEWAY_URL=http://api-gateway:8080/api

AUTH_DB_URL={{ vault_auth_db_url }}
ORDER_DB_URL={{ vault_order_db_url }}
INVENTORY_DB_URL={{ vault_inventory_db_url }}
WAREHOUSE_DB_URL={{ vault_warehouse_db_url }}
DELIVERY_DB_URL={{ vault_delivery_db_url }}
NOTIFICATION_DB_URL={{ vault_notification_db_url }}

SMTP_EMAIL={{ vault_smtp_email }}
SMTP_PASSWORD={{ vault_smtp_password }}
