DB_URL=postgresql://<user>:<password>@<host>/order_twin_db?sslmode=require
PORT=9083
INVENTORY_SERVICE_URL=http://inventory-go-twin:9082
WAREHOUSE_SERVICE_URL=http://warehouse-java-twin:9084
DELIVERY_SERVICE_URL=http://delivery-service:8085
NOTIFICATION_SERVICE_URL=http://notification-service:8086
